
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 129.2rem;
}.desktop-Cj8 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;

  .auto-group-hman-EA2 {
    margin: 0rem 0.3rem 0rem 0.9rem;
    width: calc(100% - 1.2rem);
    height: 56.1rem;
    position: relative;
    flex-shrink: 0;

    .section-C8n {
      left: 0;
      top: 0;
      background-color: #ffffff;
      width: 128rem;
      height: 8.534rem;
      position: absolute;
    }
    .section1-Vdg {
      box-sizing: border-box;
      height: 56.1rem;
      position: absolute;
      top: 0;
      display: flex;
      background-color: #ffffff;
      padding: 7rem 11.3rem 7rem 7.1rem;
      width: 128rem;
      left: 0;
      align-items: center;

      .auto-group-unwz-AE2 {
        margin: 0rem 43.5rem 7.6rem 0rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .screen-shot-2024-02-13-at-829-1-GXx {
          margin: 0rem 1.1rem 6.4rem 0rem;
          width: 36.8rem;
          height: 10.1rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
          flex-shrink: 0;
        }
        .heading-2-operaciones-sXk {
          color: #3d6ced;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 31.8rem;
          display: flex;
          font-size: 5rem;
          font-weight: 600;
          line-height: 1.2;
        }
      }
      .item-2024-02-13-1323-1-WKp {
        flex-shrink: 0;
        margin-bottom: 12.4rem;
        width: 28.2rem;
        height: 25.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
      }
    }
  }
  .section-o42 {
    padding: 10.65rem 31.55rem;
    width: calc(100% - 1.2rem);
    height: 29.4rem;
    background: linear-gradient(83.34deg, #3d6ced 0%, #1d42ed 100%);
    flex-shrink: 0;
    margin: 0rem 0.7rem 0rem 0.5rem;
    box-sizing: border-box;

    .section-incorpora-ltima-tecnologa-en-combinacin-con--hQJ {
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      max-width: 64.9rem;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 1.8rem;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .auto-group-ysys-7D8 {
    flex-shrink: 0;
    margin-left: 0.3rem;
    width: 128.9rem;
    height: 110rem;
    position: relative;

    .section-qQ2 {
      width: 128rem;
      height: 5rem;
      position: absolute;
      left: 0.6rem;
      top: 5.138rem;
      background-color: #f5f5f5;
    }
    .section-Lbg {
      padding: 6.1rem 3.8rem 0rem 2.6rem;
      width: 128rem;
      top: 9.5rem;
      flex-direction: column;
      background-color: #ffffff;
      box-sizing: border-box;
      position: absolute;
      left: 0.6rem;
      align-items: center;
      display: flex;
      height: 100.5rem;

      .auto-group-rwrj-Rd8 {
        flex-shrink: 0;
        margin-bottom: 1.7rem;
        width: 100%;
        display: flex;
        align-items: center;

        .pip-braker-1-Aqc {
          margin-right: 3.4rem;
          width: 39.4rem;
          height: 70rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .future-fx-1-6jG {
          width: 39.4rem;
          height: 70rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.6rem;
        }
        .life-change-1-SYE {
          width: 37.8rem;
          height: 69.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
        }
      }
      .si-usted-esta-convencido-de-comprar-nuestro-sistema-algoritmo-ea-clickee-pagar-aqui-realice-el-pago-envienos-la-imagen-del-pago-y-su-nombre-completo-a-nuestro-telegram-xWa {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: #000000;
        margin: 0rem 0rem 2.2rem 1.2rem;
        max-width: 110.8rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .auto-group-cnop-xez {
        margin: 0rem 6.806rem 4.719rem 4.9rem;
        width: calc(100% - 11.7059rem);
        height: 5.6403rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .button-1-4xv {
          height: 100%;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          justify-content: center;
          text-transform: uppercase;
          background-color: #3d6ced;
          border-radius: 5rem;
          margin-right: 21.8059rem;
          width: 23.3941rem;
          line-height: 1;
          white-space: nowrap;
          display: flex;
          align-items: center;
          font-size: 2.5rem;
          font-weight: 600;
        }
        .button-2-uCr {
          justify-content: center;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          border-radius: 5rem;
          align-items: center;
          height: 100%;
          display: flex;
          white-space: nowrap;
          margin-right: 17.9059rem;
          font-size: 2.5rem;
          font-weight: 600;
          text-transform: uppercase;
          background-color: #3d6ced;
          width: 23.3941rem;
          flex-shrink: 0;
          line-height: 1;
        }
        .button-3-b5g {
          display: flex;
          text-transform: uppercase;
          border-radius: 5rem;
          width: 23.3941rem;
          height: 100%;
          font-family: Poppins, 'Source Sans Pro';
          background-color: #3d6ced;
          line-height: 1;
          white-space: nowrap;
          color: #ffffff;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 2.5rem;
          font-weight: 600;
        }
      }
      .button-4-UvA {
        background-color: #3d6ced;
        width: calc(100% - 54.7rem);
        height: 5.6403rem;
        align-items: center;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
        justify-content: center;
        text-transform: uppercase;
        flex-shrink: 0;
        margin: 0rem 26.7rem 0rem 28rem;
        font-size: 2.5rem;
        line-height: 1;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        border-radius: 5rem;
      }
    }
    .section-LhU {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5rem;
      width: 128.9rem;
      font-family: Poppins, 'Source Sans Pro';
      line-height: 1;
      font-weight: 700;
      white-space: nowrap;
      background-color: #ffffff;
      height: 15.2rem;
      color: #3d6ced;
      text-transform: uppercase;
    }
  }
  .section-abp {
    flex-shrink: 0;
    margin: 0rem 0.7rem 0rem 0.9rem;
    height: 12rem;
    display: flex;
    font-size: 5rem;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    line-height: 1;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 700;
    white-space: nowrap;
    background-color: #ffffff;
    width: calc(100% - 1.6rem);
    align-items: center;
  }
  .auto-group-cxlv-FT4 {
    flex-shrink: 0;
    margin: 0rem 0.6rem 0.032rem 0.3rem;
    width: calc(100% - 0.9rem);
    height: 260.5676rem;
    position: relative;

    .section-MFC {
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 13.4rem 4.7rem 13.4rem 8.8rem;
      width: 128rem;
      position: absolute;
      top: 160.9rem;
      display: flex;
      align-items: center;
      height: 99.6676rem;
      left: 0;

      .item-2024-02-13-1420-4-ek6 {
        width: 32.438rem;
        height: 58.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.9rem 14.768rem 0rem;
      }
      .item-2024-02-13-1421-1-M8i {
        margin: 0rem 4.862rem 13.768rem 0rem;
        width: 33.9rem;
        height: 59.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-2024-02-13-1420-3-1DG {
        margin-bottom: 13.7676rem;
        width: 38.4rem;
        height: 51.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .section-Kjk {
      left: 0.3rem;
      align-items: center;
      background-color: #ffffff;
      flex-direction: column;
      box-sizing: border-box;
      padding-bottom: 14.4rem;
      width: 128rem;
      height: 168.7rem;
      position: absolute;
      top: 0;
      display: flex;

      .auto-group-vufu-qxz {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 14.762rem 1.4rem 20.538rem;
        width: 100%;

        .section-AkN {
          margin-bottom: 2.2rem;
          width: 100%;
          height: 24.2rem;
          position: relative;
          flex-shrink: 0;

          .divelementor-widget-wrap-6tv {
            align-items: center;
            flex-direction: column;
            background-color: #ffffff;
            padding: 5.55rem 5.1rem 9.933rem 7.9rem;
            top: 0;
            height: 24.2rem;
            position: absolute;
            left: 0;
            display: flex;
            border: solid 0.2rem #3d6ced;
            border-radius: 1rem;
            box-sizing: border-box;
            width: 43.1rem;

            .automatizacin-8sY {
              margin: 0rem 3.576rem 1.917rem 0rem;
              font-size: 2.3rem;
              color: #3d6ced;
              flex-shrink: 0;
              display: flex;
              font-weight: 700;
              line-height: 1;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .nuestro-sistema-es-100-automtico-no-requiere-atencin-YwG {
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 30.1rem;
              display: flex;
              font-size: 1.5rem;
            }
          }
          .divelementor-widget-wrap-cAS {
            display: flex;
            padding: 5.35rem 0.967rem 1.228rem 1rem;
            width: 44.7rem;
            height: 24.2rem;
            position: absolute;
            left: 48rem;
            top: 0;
            align-items: center;
            box-sizing: border-box;
            flex-direction: column;
            background-color: #3d6ced;
            border-radius: 1rem;

            .ingresos-hBt {
              display: flex;
              font-size: 2.3rem;
              line-height: 1;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 6.433rem 1.475rem 0rem;
              font-weight: 700;
              white-space: nowrap;
            }
            .auto-group-xybx-yfC {
              box-sizing: border-box;
              padding: 0rem 3.033rem 0rem 6.7rem;
              width: 100%;
              height: 13.847rem;
              flex-shrink: 0;

              .genera-ingresos-pasivos-en-poco-tiempo-al-adquirir-nuestro-sistema-de-trading-automatizado-JxN {
                max-width: 33rem;
                display: flex;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
          .section-kpN {
            display: flex;
            align-items: center;
            width: 92.7rem;
            height: 24.2rem;
            position: absolute;
            left: 0;
            top: 0;

            .divelementor-widget-wrap-uBU {
              align-items: center;
              display: flex;
              flex-direction: column;
              background-color: #ffffff;
              flex-shrink: 0;
              margin-right: 4.9rem;
              box-sizing: border-box;
              padding: 5.55rem 5.1rem 9.933rem 7.9rem;
              height: 100%;
              border: solid 0.2rem #3d6ced;
              border-radius: 1rem;

              .automatizacin-CgN {
                display: flex;
                font-weight: 700;
                font-family: Poppins, 'Source Sans Pro';
                margin: 0rem 3.576rem 1.917rem 0rem;
                font-size: 2.3rem;
                line-height: 1;
                color: #3d6ced;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .nuestro-sistema-es-100-automtico-no-requiere-atencin-uan {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 30.1rem;
                display: flex;
              }
            }
            .divelementor-widget-wrap-bTc {
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              background-color: #3d6ced;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 5.35rem 0.967rem 1.228rem 1rem;
              width: 44.7rem;
              border-radius: 1rem;

              .ingresos-7gr {
                margin: 0rem 6.433rem 1.475rem 0rem;
                font-size: 2.3rem;
                line-height: 1;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                font-weight: 700;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .auto-group-kaoy-dfC {
                height: 13.847rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0rem 3.033rem 0rem 6.7rem;
                width: 100%;

                .genera-ingresos-pasivos-en-poco-tiempo-al-adquirir-nuestro-sistema-de-trading-automatizado-mmQ {
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  max-width: 33rem;
                  display: flex;
                  font-size: 1.5rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
            }
          }
        }
        .section-3D8 {
          height: 24.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .divelementor-widget-wrap-aD4 {
            flex-direction: column;
            border: solid 0.2rem #3d6ced;
            background-color: #ffffff;
            margin-right: 4.9rem;
            box-sizing: border-box;
            padding: 5.45rem 5.9rem 8.783rem 7.9rem;
            height: 100%;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;
            display: flex;

            .soporte-6hC {
              display: flex;
              font-weight: 700;
              line-height: 1;
              font-family: Poppins, 'Source Sans Pro';
              margin: 0rem 4rem 0.867rem 0rem;
              font-size: 2.3rem;
              color: #3d6ced;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .tenemos-un-personal-de-soporte-24-7-disponible-para-responder-sus-dudas-y-resolver-sus-problemas-1pA {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 29.3rem;
              display: flex;
            }
          }
          .divelementor-widget-wrap-1hg {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 5.35rem 0.967rem 1.228rem 1rem;
            width: 44.7rem;
            height: 100%;
            align-items: center;
            display: flex;
            background-color: #3d6ced;
            border-radius: 1rem;

            .rentabilidad-Xvv {
              font-size: 2.3rem;
              line-height: 1;
              color: #ffffff;
              flex-shrink: 0;
              margin: 0rem 1.433rem 1.475rem 0rem;
              display: flex;
              font-weight: 700;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-5lkn-2cn {
              box-sizing: border-box;
              padding: 0rem 5.433rem 0rem 6.7rem;
              width: 100%;
              height: 13.847rem;
              flex-shrink: 0;

              .nuestro-sistema-est-diseado-para-generar-y-crear-oportunidades-rentables-para-el-mayor-beneficio-de-los-usuarios-9Bc {
                display: flex;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                max-width: 30.6rem;
              }
            }
          }
        }
      }
      .auto-group-qq9p-oGA {
        height: 102.3rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .section-kSJ {
          top: 0;
          align-items: center;
          display: flex;
          box-sizing: border-box;
          width: 128rem;
          height: 51.4rem;
          position: absolute;
          padding: 6.983rem 30rem 17.417rem 27.8rem;
          left: 0;
          flex-direction: column;
          background-color: #ffffff;

          .heading-2-cuentas-auditadas-fJN {
            max-width: 64.3rem;
            display: flex;
            font-size: 5rem;
            font-weight: 700;
            line-height: 1;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            margin: 0rem 0rem 6.2rem 2.2rem;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
          }
          .section-resultados-100-reales-sin-atajos-con-ms-de-de-8-meses-de-trackrecord-en-broker-ZPk {
            max-width: 70.2rem;
            display: flex;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
            color: #000000;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            line-height: 1.5;
          }
        }
        .frame-1-2o8 {
          width: 115.038rem;
          height: 57rem;
          position: absolute;
          left: 6.4rem;
          top: 45.3rem;

          .item-2024-02-13-1420-1-xwg {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 69.138rem;
            height: 28.2rem;
            position: absolute;
            left: 0;
          }
          .item-2024-02-13-1420-2-fr6 {
            object-fit: cover;
            vertical-align: top;
            width: 57.4rem;
            height: 23.9rem;
            position: absolute;
            left: 0.038rem;
            top: 28.4rem;
          }
          .item-2024-02-13-1420-5-7i6 {
            width: 53.9rem;
            height: 57rem;
            position: absolute;
            left: 61.138rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
  }
  .section-RCz {
    flex-shrink: 0;
    margin: 0rem 0.9rem 0.043rem 0.3rem;
    width: calc(100% - 1.2rem);
    height: 63.0571rem;
    position: relative;
    overflow: hidden;
    background-color: rgba(237, 237, 237, 0.9300000072);

    .heading-2-preguntas-frecuentes-ixn {
      left: 43.75rem;
      top: 6.7563rem;
      align-items: center;
      font-weight: 700;
      line-height: 1;
      color: #000000;
      height: 5rem;
      justify-content: center;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 56.5rem;
      display: flex;
      position: absolute;
      font-size: 5rem;
    }
    .link-necesito-permanecer-frente-a-la-computadora-constantemente-oUS {
      top: 14.0688rem;
      display: flex;
      font-weight: 700;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 38.6rem;
      position: absolute;
      font-size: 1.8rem;
      line-height: 1;
      white-space: nowrap;
      height: 1.8rem;
      left: 13.8rem;
    }
    .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-rBp {
      left: 13.8rem;
      top: 19.5313rem;
      line-height: 1.5;
      white-space: nowrap;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 82.6rem;
      height: 2.3rem;
      position: absolute;
      display: flex;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .link-necesito-permanecer-frente-a-la-computadora-constantemente-2kW {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      top: 25.4938rem;
      height: 1.8rem;
      position: absolute;
      left: 13.8rem;
      display: flex;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1;
      width: 41.8rem;
    }
    .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-Kjc {
      font-size: 1.5rem;
      color: #000000;
      height: 2.3rem;
      left: 13.8rem;
      top: 30.3rem;
      display: flex;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 38rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.5;
    }
    .link-necesito-permanecer-frente-a-la-computadora-constantemente-Zdx {
      left: 13.8rem;
      display: flex;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.7rem;
      height: 1.8rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1;
      color: #000000;
      position: absolute;
      top: 35.6063rem;
    }
    .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-fBC {
      width: 55.5rem;
      top: 41.0688rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3rem;
      position: absolute;
      left: 13.8rem;
      display: flex;
      font-size: 1.5rem;
    }
    .link-necesito-permanecer-frente-a-la-computadora-constantemente-5ki {
      left: 13.8rem;
      display: flex;
      font-size: 1.8rem;
      white-space: nowrap;
      line-height: 1;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 29.3rem;
      height: 1.8rem;
      position: absolute;
      top: 47.0313rem;
      font-weight: 700;
    }
    .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-n9L {
      width: 76.3rem;
      top: 52.4938rem;
      font-size: 1.5rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      height: 2.3rem;
      position: absolute;
      left: 13.8rem;
      display: flex;
      font-weight: 400;
      line-height: 1.5;
      white-space: nowrap;
    }
  }
  .section-nYe {
    box-sizing: border-box;
    padding: 5.597rem 19.9rem 3.319rem 41rem;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 0.9rem 0rem 0.3rem;
    width: calc(100% - 1.2rem);
    flex-direction: column;
    background: linear-gradient(259.8deg, #3d6ced 100%, #1d42ed 200%);

    .heading-2-funding-traders-team-HEW {
      margin: 0rem 21.1rem 3.953rem 0rem;
      display: flex;
      align-items: center;
      font-size: 5.5rem;
      white-space: nowrap;
      flex-shrink: 0;
      justify-content: center;
      font-weight: 600;
      line-height: 1;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
    }
    .section-expertos-en-el-mundo-de-trading-enseando-lo-que-realmente-funciona-AJJ {
      justify-content: center;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
      line-height: 1.5;
      color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 21.1rem 6.131rem 0rem;
      max-width: 42.8rem;
      display: flex;
      align-items: center;
      font-size: 1.8rem;
    }
    .section-SFp {
      width: 100%;
      height: 9.1rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-3yrg-Pgr {
        height: 8.1195rem;
        flex-shrink: 0;
        margin: 0.019rem 9.205rem 0rem 0rem;
        box-sizing: border-box;
        padding-top: 0.9805rem;
        width: 19.495rem;

        .divelementor-widget-wrap-ufC {
          align-items: center;
          background-color: rgba(234, 234, 234, 0.9179999828);
          border-radius: 5rem;
          box-sizing: border-box;
          padding: 1.95rem 3.896rem 1.589rem 3.002rem;
          width: 18.498rem;
          height: 100%;
          display: flex;

          .link-rectangulo-65png-qHx {
            height: 2.58rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5edd87c7d23316f057f1e57b6e021b9f1c0d8c3c');
            flex-shrink: 0;
            margin: 0rem 1.62rem 0.52rem 0rem;
            width: 2.58rem;
          }
          .comunidad-instagram-tGE {
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 7.4rem;
            display: flex;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
          }
        }
      }
      .auto-group-m4ce-Pyg {
        box-sizing: border-box;
        padding: 1.2rem 0rem 0.761rem 0rem;
        width: 38.4rem;
        height: 100%;
        flex-shrink: 0;

        .divelementor-widget-wrap-jGr {
          width: 19.598rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(234, 234, 234, 0.9179999828);
          border-radius: 5rem;
          box-sizing: border-box;
          padding: 2.05rem 4.892rem 1.489rem 2.906rem;

          .link-objectspng-Fkz {
            background-image: url('REPLACE_IMAGE:fcfb863f3b45ed594b1d78fe915b289643aa9c00');
            flex-shrink: 0;
            margin: 0rem 1.761rem 0.861rem 0rem;
            width: 2.639rem;
            height: 2.639rem;
            position: relative;
            background-size: 100% 100%;
          }
          .comunidad-telegram-8Jz {
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 7.4rem;
            display: flex;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .section-oR8 {
    width: 128.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 0.9rem;
    box-sizing: border-box;
    padding-bottom: 6.2466rem;
    background-color: #ededed;
    flex-shrink: 0;

    .auto-group-kgn2-uj4 {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.1rem 19.9rem 4.67rem 18.9rem;

      .section-heading-2-descargo-de-responsabilidad-oZY {
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 2.704rem 0.2rem;
        display: flex;
        font-size: 1.7rem;
        color: #3967ee;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
      }
      .section-al-usar-nuestro-software-usted-asume-todos-los-riesgos-del-comercio-no-hay-garantas-en-el-comercio-y-nuestros-resultados-pasados-no-garantizan-resultados-futuros-no-tenemos-rni {
        font-family: Roboto, 'Source Sans Pro';
        margin-bottom: 0.4956rem;
        max-width: 89.5rem;
        display: flex;
        color: #000000;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .section-heading-2-trminos-de-uso-4Nz {
        font-weight: 700;
        line-height: 1;
        color: #3967ee;
        white-space: nowrap;
        display: flex;
        font-size: 1.7rem;
        flex-shrink: 0;
        margin: 0rem 0rem 3.01rem 1rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .section-para-acceder-y-beneficiarse-plenamente-de-nuestros-servicios-es-imprescindible-completar-el-proceso-de-conozca-a-su-cliente-kyc-sin-la-debida-verificacin-kyc-lamentablemente-vRC {
        color: #000000;
        flex-shrink: 0;
        max-width: 87.2rem;
        line-height: 1.5;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Roboto, 'Source Sans Pro';
        margin-right: 0.524rem;
        display: flex;
      }
    }
    .section-kv2 {
      padding: 1.82rem 18.4rem 3.153rem 24.4rem;
      width: 100%;
      height: 10.3739rem;
      background-color: #006cf7;
      flex-shrink: 0;
      box-sizing: border-box;

      .section-5xJ {
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;

        .item-2024-02-13-1449-1-3PL {
          width: 6.1rem;
          height: 5.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-ev1u-Mev {
          padding: 1.7rem 0rem 0.2rem 1.095rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .heading-2-all-rights-reserved-2023-HYa {
            display: flex;
            font-weight: 300;
            line-height: 1;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 54.205rem 1.541rem 0rem;
            white-space: nowrap;
            font-size: 1.3rem;
          }
          .divelementor-widget-wrap-ywC {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            height: 100%;

            .instagram-1-1-L14 {
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2rem;
              width: 4rem;
            }
            .telegrama-1-fp2 {
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}
