
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.phone-i9C {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-ssva-FQ2 {
    box-sizing: border-box;
    padding: 5.1rem 0rem 3.34rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-krcs-m7U {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 2.9rem 3.836rem 1.9rem;
      width: calc(100% - 4.8rem);

      .auto-group-4ybg-fCr {
        margin: 0rem 2.2rem 0.806rem 0rem;
        width: 18.6rem;
        flex-shrink: 0;

        .screen-shot-2024-02-13-at-829-2-o4A {
          border-radius: 2rem;
          margin: 0rem 0rem 1.192rem 0.2rem;
          width: 17.5078rem;
          height: 5.3424rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-kjas-iaS {
          width: 100%;
          height: 8.7597rem;
          position: relative;

          .heading-2-operaciones-eU6 {
            color: #3d6ced;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 18.6rem;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 4;
            display: flex;
            height: 6rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .heading-2-operaciones-vAi {
            width: 6.4rem;
            height: 6rem;
            position: absolute;
            color: #3d6ced;
            left: 0;
            top: 2.7597rem;
            display: flex;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 4;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .item-2024-02-13-1323-2-CP8 {
        width: 13.4rem;
        height: 13.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
      }
    }
    .section-oNv {
      flex-shrink: 0;
      margin: 0rem 0.2rem 3.735rem 0rem;
      box-sizing: border-box;
      padding: 2.613rem 1.65rem 3.233rem 1.35rem;
      width: 38.8rem;
      height: 13.9456rem;
      background: linear-gradient(83.34deg, #3d6ced 0%, #1d42ed 100%);

      .section-incorpora-ltima-tecnologa-en-combinacin-con--43x {
        align-items: center;
        line-height: 2.7;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        max-width: 35.8rem;
      }
    }
    .heading-2-operaciones-TLz {
      justify-content: center;
      font-weight: 600;
      line-height: 4;
      flex-shrink: 0;
      margin-right: 0.4rem;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      color: #3d6ced;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-3ynn-ND4 {
    width: 100%;
    height: 148.943rem;
    position: relative;
    flex-shrink: 0;

    .section-JsQ {
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      box-sizing: border-box;
      padding-bottom: 0.7rem;
      width: 39rem;
      height: 146.443rem;
      position: absolute;
      align-items: center;

      .auto-group-j3ne-Em4 {
        padding: 0rem 9.36rem 17.3rem 9.7rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .pip-braker-1-mW6 {
          margin: 0rem 0.24rem 3.352rem 0rem;
          width: 19.7rem;
          height: 32.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .future-fx-1-oSn {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 3.505rem 0.388rem;
          width: 19.552rem;
          height: 32.3466rem;
        }
        .life-change-1-eTQ {
          flex-shrink: 0;
          margin: 0rem 0rem 2.792rem 0.388rem;
          width: 19.552rem;
          height: 33.4481rem;
          object-fit: cover;
          vertical-align: top;
        }
        .button-NPQ {
          width: calc(100% - 7.84rem);
          font-size: 1rem;
          font-weight: 600;
          white-space: nowrap;
          margin: 0rem 3.74rem 0rem 4.1rem;
          height: 3.6rem;
          justify-content: center;
          background-color: #3d6ced;
          flex-shrink: 0;
          align-items: center;
          border-radius: 5rem;
          display: flex;
          line-height: 2.5;
          text-transform: uppercase;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .section-dq8 {
        font-size: 2rem;
        color: #000000;
        background-color: #ffffff;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        font-weight: 700;
        line-height: 2.5;
        text-transform: uppercase;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        padding: 0 11rem;
        height: 16.8rem;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
      }
    }
    .divelementor-widget-wrap-une {
      box-sizing: border-box;
      padding: 1.35rem 0rem 3.25rem 0rem;
      top: 136.143rem;
      align-items: center;
      background-color: #ffffff;
      border: solid 0.2rem #3d6ced;
      border-radius: 1rem;
      width: 34.8rem;
      height: 12.8rem;
      position: absolute;
      left: 2.1rem;
      display: flex;
      flex-direction: column;

      .auto-group-wv8s-MPk {
        font-weight: 700;
        line-height: 1.4375;
        color: #3d6ced;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 2.1rem 0.65rem 2.1rem;
        box-sizing: border-box;
        width: calc(100% - 4.2rem);
        font-size: 1.6rem;
        white-space: nowrap;
        flex-shrink: 0;
        padding: 0 8.5rem;
        height: 3.05rem;
        display: flex;
      }
      .auto-group-hdvy-miN {
        height: 4.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 5.3rem 0rem 7.4rem;
        width: 100%;

        .nuestro-sistema-es-100-automtico-no-requiere-atencin-hrv {
          font-family: Poppins, 'Source Sans Pro';
          max-width: 22.1rem;
          display: flex;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 2.0454545455;
          color: #000000;
        }
      }
    }
  }
  .auto-group-qu34-AVc {
    row-gap: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 2.1rem 5.6rem 2.1rem;
    width: 100%;

    .divelementor-widget-wrap-H4S {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.45rem 5.9rem 2.15rem 6rem;
      background-color: #3d6ced;
      flex-direction: column;
      border-radius: 1rem;
      width: 100%;
      align-items: center;
      display: flex;

      .ingresos-bav {
        margin: 0rem 1.5rem 0.1rem 0rem;
        font-weight: 700;
        line-height: 1.4375;
        white-space: nowrap;
        display: flex;
        font-size: 1.6rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .genera-ingresos-pasivos-en-poco-tiempo-al-adquirir-nuestro-sistema-de-trading-automatizado-ta2 {
        display: flex;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 2.0454545455;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 22.9rem;
      }
    }
    .divelementor-widget-wrap-uV8 {
      background-color: #ffffff;
      border-radius: 1rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      border: solid 0.2rem #3d6ced;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.65rem 0rem 1.6rem 0rem;
      width: 100%;

      .auto-group-gx1l-2Jr {
        padding: 0rem 12.6rem 0rem 11.5rem;
        width: calc(100% - 4.2rem);
        font-size: 1.6rem;
        color: #3d6ced;
        white-space: nowrap;
        margin: 0 2.1rem;
        box-sizing: border-box;
        font-weight: 700;
        line-height: 1.4375;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        height: 2.75rem;
        display: flex;
      }
      .auto-group-4whk-hA6 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 7.8rem 0rem 5.5rem;
        width: 100%;
        height: 6.8rem;

        .tenemos-un-personal-de-soporte-24-7-disponible-para-responder-sus-dudas-y-resolver-sus-problemas-d3k {
          max-width: 21.5rem;
          display: flex;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 2.0454545455;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .divelementor-widget-wrap-GMc {
      padding: 0.75rem 6rem 2.15rem 6rem;
      align-items: center;
      background-color: #3d6ced;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;

      .rentabilidad-Ph8 {
        margin: 0rem 1.3rem 0.8rem 0rem;
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.4375;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
      .nuestro-sistema-est-diseado-para-generar-y-crear-oportunidades-rentables-para-el-mayor-beneficio-de-los-usuarios-UyU {
        display: flex;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 2.0454545455;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 22.8rem;
      }
    }
  }
  .auto-group-kwm8-5yG {
    width: 70.445rem;
    height: 218.4rem;
    position: relative;
    flex-shrink: 0;

    .section-cyC {
      box-sizing: border-box;
      padding: 0.483rem 1.3rem 104.7rem 2.1rem;
      width: 39rem;
      position: absolute;
      display: flex;
      height: 167.8rem;
      left: 0;
      top: 0;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;

      .heading-2-cuentas-auditadas-79G {
        font-weight: 700;
        justify-content: center;
        font-size: 1.6rem;
        line-height: 3.125;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 0.8rem 2.917rem 0rem;
        display: flex;
        align-items: center;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .section-resultados-100-reales-sin-atajos-con-ms-de-de-8-meses-de-trackrecord-en-broker-AdL {
        margin: 0rem 0.9rem 5.7rem 0rem;
        display: flex;
        flex-shrink: 0;
        font-family: Poppins, 'Source Sans Pro';
        max-width: 30.8rem;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 2.25;
        color: #000000;
      }
      .auto-group-ho2e-d18 {
        flex-shrink: 0;
        margin-bottom: 2.7rem;
        width: 100%;
        height: 16rem;
        position: relative;

        .item-2024-02-13-1420-6-LgE {
          width: 21.4rem;
          height: 7.9rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .item-2024-02-13-1420-7-qN6 {
          object-fit: cover;
          vertical-align: top;
          width: 17.8rem;
          height: 6.7rem;
          position: absolute;
          left: 0;
          top: 8rem;
        }
        .item-2024-02-13-1420-8-kzr {
          position: absolute;
          left: 18.9rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 16.7rem;
          height: 16rem;
        }
      }
      .auto-group-yivj-HUz {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1rem 0rem 0.9rem;
        width: calc(100% - 1.9rem);
        display: flex;

        .item-2024-02-13-1420-6-BaN {
          height: 16.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.4rem 0.3rem 0rem;
          width: 9.6rem;
        }
        .item-2024-02-13-1421-2-h2v {
          width: 10rem;
          height: 16.8rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3rem;
        }
        .item-2024-02-13-1420-5-4na {
          vertical-align: top;
          flex-shrink: 0;
          width: 11.4rem;
          height: 14.8rem;
          object-fit: cover;
        }
      }
    }
    .section-B6W {
      background-color: rgba(237, 237, 237, 0.9300000072);
      width: 41rem;
      height: 63.1rem;
      left: 0;
      top: 71.6rem;
      overflow: hidden;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 5.15rem 2.4rem 8.35rem 6rem;
      position: absolute;

      .heading-2-preguntas-frecuentes-riS {
        display: flex;
        font-size: 1.5rem;
        font-family: Poppins, 'Source Sans Pro';
        font-weight: 700;
        line-height: 3.3333333333;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.35rem;
        align-items: center;
        justify-content: center;
      }
      .link-necesito-permanecer-frente-a-la-computadora-constantemente-mqQ {
        font-size: 1.1rem;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        margin: 0rem 9rem 1.5rem 0rem;
        display: flex;
        line-height: 1.6363636364;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-GGN {
        line-height: 2.0454545455;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        max-width: 29.5rem;
        font-size: 1.1rem;
        font-weight: 400;
        color: #000000;
        flex-shrink: 0;
        margin: 0rem 3.1rem 1.45rem 0rem;
      }
      .link-necesito-permanecer-frente-a-la-computadora-constantemente-WAi {
        font-size: 1.1rem;
        line-height: 1.6363636364;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 7rem 3.05rem 0rem;
        display: flex;
        font-weight: 700;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-tSA {
        font-size: 1.1rem;
        white-space: nowrap;
        margin: 0rem 4.7rem 3.1rem 0rem;
        display: flex;
        font-weight: 400;
        line-height: 2.0454545455;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .link-necesito-permanecer-frente-a-la-computadora-constantemente-WiS {
        white-space: nowrap;
        display: flex;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        line-height: 1.6363636364;
        flex-shrink: 0;
        margin: 0rem 21.8rem 2.6rem 0rem;
        font-size: 1.1rem;
        font-weight: 700;
      }
      .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-D74 {
        display: flex;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        color: #000000;
        flex-shrink: 0;
        margin: 0rem 1.5rem 2.65rem 0rem;
        max-width: 31.1rem;
        font-size: 1.1rem;
        line-height: 2.0454545455;
      }
      .link-necesito-permanecer-frente-a-la-computadora-constantemente-pce {
        line-height: 1.6363636364;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 14.7rem 2.6rem 0rem;
        display: flex;
        font-size: 1.1rem;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
      }
      .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-tcW {
        line-height: 2.0454545455;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 32.6rem;
        display: flex;
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
    .section-KSv {
      left: 0;
      top: 134.7rem;
      background: linear-gradient(259.8deg, #3d6ced 100%, #1d42ed 200%);
      box-sizing: border-box;
      padding: 2.074rem 5.4rem 4.481rem 5.4rem;
      width: 63.7rem;
      height: 25.7805rem;
      position: absolute;

      .auto-group-sq7k-S1k {
        position: relative;
        margin: 0rem 0rem 2.65rem 1.1rem;
        width: 26.2rem;
        height: 13.4759rem;

        .heading-2-funding-traders-team-jFk {
          white-space: nowrap;
          position: absolute;
          left: 7.3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 11.4rem;
          height: 5.5rem;
          color: #ffffff;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 3.4375;
          font-family: Roboto, 'Source Sans Pro';
          top: 0;
        }
        .section-expertos-en-el-mundo-de-trading-enseando-lo-que-realmente-funciona-1yx {
          line-height: 2.4545454545;
          font-family: Poppins, 'Source Sans Pro';
          width: 26.2rem;
          height: 8.1rem;
          top: 5.3759rem;
          align-items: center;
          font-size: 1.1rem;
          font-weight: 400;
          position: absolute;
          left: 0;
          display: flex;
          justify-content: center;
          color: #ffffff;
        }
      }
      .auto-group-cwga-uJe {
        position: relative;
        width: 26.9rem;
        height: 3.1rem;

        .divelementor-widget-wrap-2u4 {
          box-sizing: border-box;
          padding: 0.4rem 7.767rem 0.339rem 1rem;
          width: 17.467rem;
          height: 2.939rem;
          display: flex;
          border-radius: 5rem;
          position: absolute;
          left: 0;
          top: 0;
          align-items: center;
          background-color: rgba(234, 234, 234, 0.9179999828);

          .link-rectangulo-65png-uCA {
            margin-right: 1rem;
            width: 2.2rem;
            height: 2.2rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5edd87c7d23316f057f1e57b6e021b9f1c0d8c3c');
            flex-shrink: 0;
          }
          .instagram-oHY {
            flex-shrink: 0;
            display: flex;
            font-size: 1rem;
            white-space: nowrap;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 0.1rem;
            font-weight: 700;
            line-height: 1.8;
          }
        }
        .divelementor-widget-wrap-h82 {
          padding: 0.5rem 1.3rem 0.2rem 0.9rem;
          width: 10.9rem;
          position: absolute;
          left: 16rem;
          box-sizing: border-box;
          top: 0.2rem;
          display: flex;
          align-items: center;
          background-color: rgba(234, 234, 234, 0.9179999828);
          border-radius: 5rem;
          height: 2.9rem;

          .link-objectspng-Lwg {
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.2rem;
            height: 2.2rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:fcfb863f3b45ed594b1d78fe915b289643aa9c00');
          }
          .instagram-dQz {
            line-height: 1.8;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            display: flex;
            font-size: 1rem;
            font-weight: 700;
            color: #000000;
            white-space: nowrap;
          }
        }
      }
    }
    .section-4WJ {
      width: 70.445rem;
      height: 59.6rem;
      top: 158.8rem;
      position: absolute;
      left: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ededed;

      .auto-group-pg6a-bFL {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.842rem 9.6rem 6.53rem 9.6rem;
        width: 100%;
        align-items: center;

        .section-heading-2-descargo-de-responsabilidad-vHc {
          margin: 0rem 26.352rem 1.885rem 0rem;
          max-width: 11.3rem;
          display: flex;
          line-height: 1.3076923077;
          color: #3967ee;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          font-weight: 700;
          font-family: Poppins, 'Source Sans Pro';
        }
        .section-al-usar-nuestro-software-usted-asume-todos-los-riesgos-del-comercio-no-hay-garantas-en-el-comercio-y-nuestros-resultados-pasados-no-garantizan-resultados-futuros-no-tenemos-QTg {
          font-size: 0.9rem;
          line-height: 2;
          flex-shrink: 0;
          max-width: 27.2rem;
          display: flex;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          margin: 0rem 24.045rem 1.373rem 0rem;
          font-weight: 400;
        }
        .section-heading-2-trminos-de-uso-Ehc {
          font-weight: 700;
          line-height: 1.2142857143;
          white-space: nowrap;
          display: flex;
          font-size: 1.4rem;
          color: #3967ee;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 26.945rem 1.67rem 0rem;
        }
        .section-para-acceder-y-beneficiarse-plenamente-de-nuestros-servicios-es-imprescindible-completar-el-proceso-de-conozca-a-su-cliente-kyc-sin-la-debida-verificacin-kyc-lamentablemente-icn {
          max-width: 26.2rem;
          display: flex;
          font-weight: 400;
          margin-right: 24.845rem;
          font-size: 0.9rem;
          line-height: 2;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .section-vTx {
        height: 7rem;
        background-color: #006cf7;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.4rem 0rem 0rem 11.7rem;
        width: 100%;

        .section-s8J {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-start;

          .item-2024-02-13-1449-1-2Wz {
            flex-shrink: 0;
            margin-right: 3.2593rem;
            width: 3.8407rem;
            height: 3.4rem;
            object-fit: cover;
            vertical-align: top;
          }
          .heading-2-all-rights-reserved-2023-wtr {
            display: flex;
            font-size: 1rem;
            font-weight: 300;
            white-space: nowrap;
            margin: 1.2rem 35.345rem 0rem 0rem;
            line-height: 1.3;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .link-Cpn {
            align-items: center;
            font-size: 2.5rem;
            white-space: nowrap;
            border-radius: 2.5rem;
            margin-top: 0.6rem;
            height: 5rem;
            justify-content: center;
            color: #ffffff;
            background-color: #006cf7;
            display: flex;
            font-family: Font Awesome 5 Brands, 'Source Sans Pro';
            line-height: 1;
            flex-shrink: 0;
            width: 5rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
