
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 129.2rem;
}.desktop-Cj8 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.desktop-Cj8 .auto-group-hman-EA2 {
  margin: 0rem 0.3rem 0rem 0.9rem;
  width: calc(100% - 1.2rem);
  height: 56.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-hman-EA2 .section-C8n {
  width: 128rem;
  height: 8.534rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.desktop-Cj8 .auto-group-hman-EA2 .section1-Vdg {
  box-sizing: border-box;
  padding: 7rem 11.3rem 7rem 7.1rem;
  width: 128rem;
  height: 56.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.desktop-Cj8 .auto-group-hman-EA2 .section1-Vdg .auto-group-unwz-AE2 {
  margin: 0rem 43.5rem 7.6rem 0rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-hman-EA2 .section1-Vdg .auto-group-unwz-AE2 .screen-shot-2024-02-13-at-829-1-GXx {
  margin: 0rem 1.1rem 6.4rem 0rem;
  width: 36.8rem;
  height: 10.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-hman-EA2 .section1-Vdg .auto-group-unwz-AE2 .heading-2-operaciones-sXk {
  max-width: 31.8rem;
  display: flex;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #3d6ced;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-hman-EA2 .section1-Vdg .item-2024-02-13-1323-1-WKp {
  margin-bottom: 12.4rem;
  width: 28.2rem;
  height: 25.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-Cj8 .section-o42 {
  margin: 0rem 0.7rem 0rem 0.5rem;
  box-sizing: border-box;
  padding: 10.65rem 31.55rem;
  width: calc(100% - 1.2rem);
  height: 29.4rem;
  background: linear-gradient(83.34deg, #3d6ced 0%, #1d42ed 100%);
  flex-shrink: 0;
}
.desktop-Cj8 .section-o42 .section-incorpora-ltima-tecnologa-en-combinacin-con--hQJ {
  max-width: 64.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-Cj8 .auto-group-ysys-7D8 {
  margin-left: 0.3rem;
  width: 128.9rem;
  height: 110rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-qQ2 {
  width: 128rem;
  height: 5rem;
  position: absolute;
  left: 0.6rem;
  top: 5.138rem;
  background-color: #f5f5f5;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-Lbg {
  box-sizing: border-box;
  padding: 6.1rem 3.8rem 0rem 2.6rem;
  width: 128rem;
  height: 100.5rem;
  position: absolute;
  left: 0.6rem;
  top: 9.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-Lbg .auto-group-rwrj-Rd8 {
  margin-bottom: 1.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-Lbg .auto-group-rwrj-Rd8 .pip-braker-1-Aqc {
  margin-right: 3.4rem;
  width: 39.4rem;
  height: 70rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-Lbg .auto-group-rwrj-Rd8 .future-fx-1-6jG {
  margin-right: 1.6rem;
  width: 39.4rem;
  height: 70rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-Lbg .auto-group-rwrj-Rd8 .life-change-1-SYE {
  margin-bottom: 0.3rem;
  width: 37.8rem;
  height: 69.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-Lbg .si-usted-esta-convencido-de-comprar-nuestro-sistema-algoritmo-ea-clickee-pagar-aqui-realice-el-pago-envienos-la-imagen-del-pago-y-su-nombre-completo-a-nuestro-telegram-xWa {
  margin: 0rem 0rem 2.2rem 1.2rem;
  max-width: 110.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-Lbg .auto-group-cnop-xez {
  margin: 0rem 6.806rem 4.719rem 4.9rem;
  width: calc(100% - 11.7059rem);
  height: 5.6403rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-Lbg .auto-group-cnop-xez .button-1-4xv {
  margin-right: 21.8059rem;
  width: 23.3941rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3d6ced;
  border-radius: 5rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-Lbg .auto-group-cnop-xez .button-2-uCr {
  margin-right: 17.9059rem;
  width: 23.3941rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3d6ced;
  border-radius: 5rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-Lbg .auto-group-cnop-xez .button-3-b5g {
  width: 23.3941rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3d6ced;
  border-radius: 5rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-Lbg .button-4-UvA {
  margin: 0rem 20.7rem 2rem 12rem;
  width: calc(100% - 20.7rem);
  height: 4.6403rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3d6ced;
  border-radius: 5rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-ysys-7D8 .section-LhU {
  width: 128.9rem;
  height: 15.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #3d6ced;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
}
.desktop-Cj8 .section-abp {
  margin: 0rem 0.7rem 0rem 0.9rem;
  width: calc(100% - 1.6rem);
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 {
  margin: 0rem 0.6rem 0.032rem 0.3rem;
  width: calc(100% - 0.9rem);
  height: 260.5676rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-MFC {
  box-sizing: border-box;
  padding: 13.4rem 4.7rem 13.4rem 8.8rem;
  width: 128rem;
  height: 99.6676rem;
  position: absolute;
  left: 0;
  top: 160.9rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-MFC .item-2024-02-13-1420-4-ek6 {
  margin: 0rem 4.9rem 14.768rem 0rem;
  width: 32.438rem;
  height: 58.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-MFC .item-2024-02-13-1421-1-M8i {
  margin: 0rem 4.862rem 13.768rem 0rem;
  width: 33.9rem;
  height: 59.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-MFC .item-2024-02-13-1420-3-1DG {
  margin-bottom: 13.7676rem;
  width: 38.4rem;
  height: 51.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk {
  box-sizing: border-box;
  padding-bottom: 14.4rem;
  width: 128rem;
  height: 168.7rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz {
  box-sizing: border-box;
  padding: 0rem 14.762rem 1.4rem 20.538rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 24.2rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .divelementor-widget-wrap-6tv {
  box-sizing: border-box;
  padding: 5.55rem 5.1rem 9.933rem 7.9rem;
  width: 43.1rem;
  height: 24.2rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #3d6ced;
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .divelementor-widget-wrap-6tv .automatizacin-8sY {
  margin: 0rem 3.576rem 1.917rem 0rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1;
  color: #3d6ced;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .divelementor-widget-wrap-6tv .nuestro-sistema-es-100-automtico-no-requiere-atencin-YwG {
  max-width: 30.1rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .divelementor-widget-wrap-cAS {
  box-sizing: border-box;
  padding: 5.35rem 0.967rem 1.228rem 1rem;
  width: 44.7rem;
  height: 24.2rem;
  position: absolute;
  left: 48rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #3d6ced;
  border-radius: 1rem;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .divelementor-widget-wrap-cAS .ingresos-hBt {
  margin: 0rem 6.433rem 1.475rem 0rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .divelementor-widget-wrap-cAS .auto-group-xybx-yfC {
  box-sizing: border-box;
  padding: 0rem 3.033rem 0rem 6.7rem;
  width: 100%;
  height: 13.847rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .divelementor-widget-wrap-cAS .auto-group-xybx-yfC .genera-ingresos-pasivos-en-poco-tiempo-al-adquirir-nuestro-sistema-de-trading-automatizado-JxN {
  max-width: 33rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .section-kpN {
  width: 92.7rem;
  height: 24.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .section-kpN .divelementor-widget-wrap-uBU {
  margin-right: 4.9rem;
  box-sizing: border-box;
  padding: 5.55rem 5.1rem 9.933rem 7.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #3d6ced;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .section-kpN .divelementor-widget-wrap-uBU .automatizacin-CgN {
  margin: 0rem 3.576rem 1.917rem 0rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1;
  color: #3d6ced;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .section-kpN .divelementor-widget-wrap-uBU .nuestro-sistema-es-100-automtico-no-requiere-atencin-uan {
  max-width: 30.1rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .section-kpN .divelementor-widget-wrap-bTc {
  box-sizing: border-box;
  padding: 5.35rem 0.967rem 1.228rem 1rem;
  width: 44.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #3d6ced;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .section-kpN .divelementor-widget-wrap-bTc .ingresos-7gr {
  margin: 0rem 6.433rem 1.475rem 0rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .section-kpN .divelementor-widget-wrap-bTc .auto-group-kaoy-dfC {
  box-sizing: border-box;
  padding: 0rem 3.033rem 0rem 6.7rem;
  width: 100%;
  height: 13.847rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-AkN .section-kpN .divelementor-widget-wrap-bTc .auto-group-kaoy-dfC .genera-ingresos-pasivos-en-poco-tiempo-al-adquirir-nuestro-sistema-de-trading-automatizado-mmQ {
  max-width: 33rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-3D8 {
  width: 100%;
  height: 24.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-3D8 .divelementor-widget-wrap-aD4 {
  margin-right: 4.9rem;
  box-sizing: border-box;
  padding: 5.45rem 5.9rem 8.783rem 7.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #3d6ced;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-3D8 .divelementor-widget-wrap-aD4 .soporte-6hC {
  margin: 0rem 4rem 0.867rem 0rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1;
  color: #3d6ced;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-3D8 .divelementor-widget-wrap-aD4 .tenemos-un-personal-de-soporte-24-7-disponible-para-responder-sus-dudas-y-resolver-sus-problemas-1pA {
  max-width: 29.3rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-3D8 .divelementor-widget-wrap-1hg {
  box-sizing: border-box;
  padding: 5.35rem 0.967rem 1.228rem 1rem;
  width: 44.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #3d6ced;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-3D8 .divelementor-widget-wrap-1hg .rentabilidad-Xvv {
  margin: 0rem 1.433rem 1.475rem 0rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-3D8 .divelementor-widget-wrap-1hg .auto-group-5lkn-2cn {
  box-sizing: border-box;
  padding: 0rem 5.433rem 0rem 6.7rem;
  width: 100%;
  height: 13.847rem;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-vufu-qxz .section-3D8 .divelementor-widget-wrap-1hg .auto-group-5lkn-2cn .nuestro-sistema-est-diseado-para-generar-y-crear-oportunidades-rentables-para-el-mayor-beneficio-de-los-usuarios-9Bc {
  max-width: 30.6rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-qq9p-oGA {
  width: 100%;
  height: 102.3rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-qq9p-oGA .section-kSJ {
  box-sizing: border-box;
  padding: 6.983rem 30rem 17.417rem 27.8rem;
  width: 128rem;
  height: 51.4rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-qq9p-oGA .section-kSJ .heading-2-cuentas-auditadas-fJN {
  margin: 0rem 0rem 6.2rem 2.2rem;
  max-width: 64.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-qq9p-oGA .section-kSJ .section-resultados-100-reales-sin-atajos-con-ms-de-de-8-meses-de-trackrecord-en-broker-ZPk {
  max-width: 70.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-qq9p-oGA .frame-1-2o8 {
  width: 115.038rem;
  height: 57rem;
  position: absolute;
  left: 6.4rem;
  top: 45.3rem;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-qq9p-oGA .frame-1-2o8 .item-2024-02-13-1420-1-xwg {
  width: 69.138rem;
  height: 28.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-qq9p-oGA .frame-1-2o8 .item-2024-02-13-1420-2-fr6 {
  width: 57.4rem;
  height: 23.9rem;
  position: absolute;
  left: 0.038rem;
  top: 28.4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-Cj8 .auto-group-cxlv-FT4 .section-Kjk .auto-group-qq9p-oGA .frame-1-2o8 .item-2024-02-13-1420-5-7i6 {
  width: 53.9rem;
  height: 57rem;
  position: absolute;
  left: 61.138rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-Cj8 .section-RCz {
  margin: 0rem 0.9rem 0.043rem 0.3rem;
  width: calc(100% - 1.2rem);
  height: 63.0571rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(237, 237, 237, 0.9300000072);
  flex-shrink: 0;
}
.desktop-Cj8 .section-RCz .heading-2-preguntas-frecuentes-ixn {
  width: 56.5rem;
  height: 5rem;
  position: absolute;
  left: 43.75rem;
  top: 6.7563rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-Cj8 .section-RCz .link-necesito-permanecer-frente-a-la-computadora-constantemente-oUS {
  width: 38.6rem;
  height: 1.8rem;
  position: absolute;
  left: 13.8rem;
  top: 14.0688rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-Cj8 .section-RCz .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-rBp {
  width: 82.6rem;
  height: 2.3rem;
  position: absolute;
  left: 13.8rem;
  top: 19.5313rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-Cj8 .section-RCz .link-necesito-permanecer-frente-a-la-computadora-constantemente-2kW {
  width: 41.8rem;
  height: 1.8rem;
  position: absolute;
  left: 13.8rem;
  top: 25.4938rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-Cj8 .section-RCz .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-Kjc {
  width: 38rem;
  height: 2.3rem;
  position: absolute;
  left: 13.8rem;
  top: 30.3rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-Cj8 .section-RCz .link-necesito-permanecer-frente-a-la-computadora-constantemente-Zdx {
  width: 17.7rem;
  height: 1.8rem;
  position: absolute;
  left: 13.8rem;
  top: 35.6063rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-Cj8 .section-RCz .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-fBC {
  width: 55.5rem;
  height: 2.3rem;
  position: absolute;
  left: 13.8rem;
  top: 41.0688rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-Cj8 .section-RCz .link-necesito-permanecer-frente-a-la-computadora-constantemente-5ki {
  width: 29.3rem;
  height: 1.8rem;
  position: absolute;
  left: 13.8rem;
  top: 47.0313rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-Cj8 .section-RCz .section-tablist-tabpanel-debido-a-que-el-bot-funciona-de-manera-automtica-no-necesitas-estar-en-el-computador-todo-el-tiempo-solo-necesitas-de-vez-en-cuando-n9L {
  width: 76.3rem;
  height: 2.3rem;
  position: absolute;
  left: 13.8rem;
  top: 52.4938rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-Cj8 .section-nYe {
  margin: 0rem 0.9rem 0rem 0.3rem;
  box-sizing: border-box;
  padding: 5.597rem 19.9rem 3.319rem 41rem;
  width: calc(100% - 1.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(259.8deg, #3d6ced 100%, #1d42ed 200%);
  flex-shrink: 0;
}
.desktop-Cj8 .section-nYe .heading-2-funding-traders-team-HEW {
  margin: 0rem 21.1rem 3.953rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-Cj8 .section-nYe .section-expertos-en-el-mundo-de-trading-enseando-lo-que-realmente-funciona-AJJ {
  margin: 0rem 21.1rem 6.131rem 0rem;
  max-width: 42.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .section-nYe .section-SFp {
  width: 100%;
  height: 9.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-Cj8 .section-nYe .section-SFp .auto-group-3yrg-Pgr {
  margin: 0.019rem 9.205rem 0rem 0rem;
  box-sizing: border-box;
  padding-top: 0.9805rem;
  width: 19.495rem;
  height: 8.1195rem;
  flex-shrink: 0;
}
.desktop-Cj8 .section-nYe .section-SFp .auto-group-3yrg-Pgr .divelementor-widget-wrap-ufC {
  box-sizing: border-box;
  padding: 1.95rem 3.896rem 1.589rem 3.002rem;
  width: 18.498rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(234, 234, 234, 0.9179999828);
  border-radius: 5rem;
}
.desktop-Cj8 .section-nYe .section-SFp .auto-group-3yrg-Pgr .divelementor-widget-wrap-ufC .link-rectangulo-65png-qHx {
  margin: 0rem 1.62rem 0.52rem 0rem;
  width: 2.58rem;
  height: 2.58rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/link-rectangulo-65png.png');
  flex-shrink: 0;
}
.desktop-Cj8 .section-nYe .section-SFp .auto-group-3yrg-Pgr .divelementor-widget-wrap-ufC .comunidad-instagram-tGE {
  max-width: 7.4rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .section-nYe .section-SFp .auto-group-m4ce-Pyg {
  box-sizing: border-box;
  padding: 1.2rem 0rem 0.761rem 0rem;
  width: 38.4rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-Cj8 .section-nYe .section-SFp .auto-group-m4ce-Pyg .divelementor-widget-wrap-jGr {
  box-sizing: border-box;
  padding: 2.05rem 4.892rem 1.489rem 2.906rem;
  width: 19.598rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(234, 234, 234, 0.9179999828);
  border-radius: 5rem;
}
.desktop-Cj8 .section-nYe .section-SFp .auto-group-m4ce-Pyg .divelementor-widget-wrap-jGr .link-objectspng-Fkz {
  margin: 0rem 1.761rem 0.861rem 0rem;
  width: 2.639rem;
  height: 2.639rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/link-objectspng-XFk.png');
  flex-shrink: 0;
}
.desktop-Cj8 .section-nYe .section-SFp .auto-group-m4ce-Pyg .divelementor-widget-wrap-jGr .comunidad-telegram-8Jz {
  max-width: 7.4rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 {
  margin-right: 0.9rem;
  box-sizing: border-box;
  padding-bottom: 6.2466rem;
  width: 128.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .auto-group-kgn2-uj4 {
  box-sizing: border-box;
  padding: 4.1rem 19.9rem 4.67rem 18.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .auto-group-kgn2-uj4 .section-heading-2-descargo-de-responsabilidad-oZY {
  margin: 0rem 0rem 2.704rem 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  color: #3967ee;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .auto-group-kgn2-uj4 .section-al-usar-nuestro-software-usted-asume-todos-los-riesgos-del-comercio-no-hay-garantas-en-el-comercio-y-nuestros-resultados-pasados-no-garantizan-resultados-futuros-no-tenemos-rni {
  margin-bottom: 0.4956rem;
  max-width: 89.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .auto-group-kgn2-uj4 .section-heading-2-trminos-de-uso-4Nz {
  margin: 0rem 0rem 3.01rem 1rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  color: #3967ee;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .auto-group-kgn2-uj4 .section-para-acceder-y-beneficiarse-plenamente-de-nuestros-servicios-es-imprescindible-completar-el-proceso-de-conozca-a-su-cliente-kyc-sin-la-debida-verificacin-kyc-lamentablemente-vRC {
  margin-right: 0.524rem;
  max-width: 87.2rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .section-kv2 {
  box-sizing: border-box;
  padding: 1.82rem 18.4rem 3.153rem 24.4rem;
  width: 100%;
  height: 10.3739rem;
  background-color: #006cf7;
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .section-kv2 .section-5xJ {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.desktop-Cj8 .section-oR8 .section-kv2 .section-5xJ .item-2024-02-13-1449-1-3PL {
  width: 6.1rem;
  height: 5.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .section-kv2 .section-5xJ .auto-group-ev1u-Mev {
  box-sizing: border-box;
  padding: 1.7rem 0rem 0.2rem 1.095rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .section-kv2 .section-5xJ .auto-group-ev1u-Mev .heading-2-all-rights-reserved-2023-HYa {
  margin: 0rem 54.205rem 1.541rem 0rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .section-kv2 .section-5xJ .auto-group-ev1u-Mev .divelementor-widget-wrap-ywC {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .section-kv2 .section-5xJ .auto-group-ev1u-Mev .divelementor-widget-wrap-ywC .instagram-1-1-L14 {
  margin-right: 2rem;
  width: 4rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-Cj8 .section-oR8 .section-kv2 .section-5xJ .auto-group-ev1u-Mev .divelementor-widget-wrap-ywC .telegrama-1-fp2 {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
